<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
	<head>
		<title> InstaGallery | Home </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" />
		<script src="../js/jquery-1.10.1.min.js"></script>
		<script src="../js/modernizr.custom.js"></script>
		<script src="../js/script.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="container_css">
	    <header class="clearfix">
				<div class="header">
	  			<div class="wrap">
						<div class="logo">
	  	     		<a href="/"><h1>InstaGallery</h1></a>
						</div>
	      		<div class="header_top">
			      	<div class="social-icons">
		            <ul>
		                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"> </a></li>
		                <li><a class="twitter" href="https://twitter.com/" target="_blank"></a></li>
		                <li><a class="googleplus" href="https://plus.google.com" target="_blank"></a></li>
		                <li><a class="pinterest" href="https://www.pinterest.com/" target="_blank"></a></li>
		                <li><a class="dribbble" href="https://dribbble.com/" target="_blank"></a></li>
		                <li><a class="vimeo" href="#" target="_blank"></a></li>
		                <div class="clear"></div>
		            </ul>
	        		</div>
							<table border="0">
								<tr>
									<td>
										<div class="search_box">
						  		    <form>
						  					<input type="text" class="text-box" placeholder="Search..."><input type="submit" value="">
						  		    </form>
					        	</div>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>
										<div>
						  		    <form action="/register" method="get">
						  					<a href="/register" type="submit" class="btn btn-secondary">Register</a>
						  		    </form>
					        	</div>
									</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				        	<td>
										<div>
						  		    <form action="/login" method="get">
						  					<a href="/login" class="btn btn-secondary">Login</a>
						  		    </form>
					        	</div>
									</td>
								</tr>
							</table>
		    		</div>
						<div class="clear"></div>
		    	</div>
				</div>
			</header>
